@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: BS;
    font-weight: 400;
    src: url('/fonts/Blessing and Struggle.ttf') format("ttf");
  }
}

html {
  color: white;
  background-color: black;
}

.filter-red{
  filter: brightness(0) saturate(100%) invert(12%) sepia(92%) saturate(7430%) hue-rotate(4deg) brightness(97%) contrast(108%);
}

.filter-white{
  filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(7500%) hue-rotate(185deg) brightness(112%) contrast(109%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55555598;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fb010193;
}